<div class="container">
    <h4>Contact Us</h4>
    <div class="md-width">
    <%= form_for :contact_us do |x| %>
    
        <h4><%= x.label "Name" %></h4>
        <%= x.text_field :name, size: "20x5" %>
        
        <h4><%= x.label "Email" %></h4>
        <%= x.text_field :email, size: "20x5" %>
        
        <h4><%= x.label "Phone Number" %></h4>
        <%= x.text_field :phone, size: "20x5" %>
        
        <h4><%= x.label "Message" %></h4>
        <%= x.text_area :message, size: "20x5" %>
        
        <%= x.submit "Send", class: "btn btn-md btn-success buttons-width" %>
    
    <% end %>
    </div>
</div>