<% provide(:title, 'Home') %>
<div class="center container" id="header_title">
    <div class="row">
        <h4 id="daily_quote_title">Daily Blog Post:</h4>
        <h3 id="daily_quote">"Welcome to RailsBit, here you can find everything 
                              about Railsy web development"
        </h3>
    </div>    
</div>
<div class="jumbotron">
    <h4>Everything About (Railsy) Web Development.</h4> 
    <div class="btn-group">
    <%= link_to "Front End", root_path, class: "btn btn-sm btn-default sharp" %>
    <%= link_to "Back End"  , backend_path, class: "btn btn-sm btn-danger sharp" %>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1>Articles</h1>
    </div>    
</div>
<!-- Display Articles -->

<!-- iteration count variable -->
<% break_int   = 0 %>
<% break_video = 0 %>

<div class="container">
    <div class="row">
        <%= @articles.find_each do |x| %>
            <div class="col-xs col-sm-4 col-md nopadding">
                <div class="thumbnail">
                    <% if x.picture? %>
                        <%= link_to image_tag(x.picture.url, size: "400x400", 
                                              class: "gravatar"),
                                              article_path(x.id) %>
                    <% else %>
                        <%= link_to image_tag("ruby.png", size: "400x400", 
                                              class: "gravatar"),
                                              article_path(x.id)  %>
                    <% end %>                      
                    <h4 id="article_h4">
                        <p id="title_p"><%= link_to x.title, article_path(x.id),
                                            class: "label label-info" %></p>
                    </h4>
                    <p id="article_p"><%= truncate(x.text, :length => 145) %></p>
                </div>    
            </div> 
            <!-- break out of block when article count reaches 6 -->
            <% break_int += 1 %>
            <% break if break_int == 6 %>
        <% end %>
    </div>
</div>
<div class="container"> 
    <div class="row">
        <h1>Videos</h1>
        <%= @videos.find_each do |x| %>
            <div class="col col-md-4">
                <% puts "#{x.link}" %>
                <iframe width="380" height="300" 
                    src=<%= "https://www.youtube.com/embed/#{x.link}" %> frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <% break_video += 1 %>
            <% break if break_video == 6 %>
        <% end %>    
    </div>
</div>
