<% provide(:title, 'Home') %>

<!-- Header daily quote -->
<div class="container">
    <div class="row">
            <b id="daily_quote_title">Daily Quote:</b>
            <blockquote id="daily_quote" class="center">“<%=  @daily_quote.quote if !@daily_quote.blank? %>”</blockquote>
            <i id="signature"><i>-<%= @daily_quote.author if !@daily_quote.blank? %></i></i>
    </div>   
</div>
<!-- switch between front end and backend -->
<div class="jumbotron" id="heading">
    <h2 id="jumbotron-text">Become a Web Developer.</h2> 
    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-md btn-default" %>
    <div id="donate-button">
        <p id="donate-p">Donate <a class="btn btn-sm btn-danger button-style" href="https://www.google.com">$</a></p>
    </div>
</div>

<!-- Welcome video -->
<div class="container">
    <div class="row">
        <div>
            <iframe width="100%" height="700"
                src=<%= "https://www.youtube.com/embed/0NjkfHbK6BE" %> frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>    
</div>

<div class="container">
    <div class="row">
        <h1>Popular Articles</h1>
    </div>    
</div>
<!-- iteration count variable -->
    <% break_int   = 0 %>
    <% break_video = 0 %>
<!-- Display Articles -->
<div class="container">
    <div class="row center">
        <% @articles.each do |x| %>
            <div class="col-sm-6 col-md-4">
                <div class="image">
                <% if x.picture? %>
                        <%= link_to image_tag(x.picture.url),
                                         article_path(x.id)%>
                <% else %>
                        <%= link_to image_tag("ruby.png"),
                                    article_path(x.id)  %>
                <% end %>
                    <div class="article-title">
                        <h4><%= link_to x.title, article_path(x.id), id: "title_p" %></h4>
                        <div style="color: white">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <%= x.thumbs_up_total %>  &nbsp
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <%= x.comments_total %>
                        </div>
                        <!--<%= truncate(x.text, :length => 145) %> -->
                    </div>    
                </div>    
            </div> 
            <!-- break out of block when article count reaches 6 -->
            <% break_int += 1 %>
            <% break if break_int == 6 %>
        <% end %>
        <div class="center">
            <%= link_to "Show More Articles", articles_path, class: "btn btn-md btn-default" %>
        </div>
    </div>
</div>
<!-- Display videos -->
<hr>
<div class="container"> 
    <div class="row">
        <h1>Popular Videos</h1>
        <% @videos.each do |x| %>
            <div class="col-md-3 col-sm-6 center">
                    <iframe src=<%= "https://www.youtube.com/embed/#{x.link}" %>
                                    frameborder="0" allowfullscreen class="video">
                    </iframe>
                    <h4><%= link_to x.title, video_path(x.id) %></h4>
                    <div style="color: white">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        &nbsp <%= x.thumbs_up_total %> &nbsp
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        &nbsp <%= x.comments_total %>
                    </div>
            </div>
            <% break_video += 1 %>
            <% break if break_video == 8 %>
        <% end %> 
        <div class="center">
            <%= link_to "Show More Videos", videos_path, class: "btn btn-md btn-default" %>
        </div>
    </div>
</div>
<!-- subscription form, pure bootstrap -->
<!--<div class="container">-->
<!--<div class="container">
    <%= form_for :subscription do |subs| %>
        <div class="donate-style">       
        <%= subs.label 'Donate', style: "color: white" %>
        <%= subs.select :state, options_for_select(amounts) %>
        <%= subs.text_field :email, id: "donate-style",  placeholder: "$" %>
        <%= subs.submit '$', class: "btn btn-xs btn-success buttons-width" %>
        </div>
    <% end %>
</div>-->
<div id="subscribe">
    <div class="container center">
         <%= react_component('SubscribeMessage', name: 'for the Latest News') %>
         <p class="subscribe_text">Enter Your Name and Email</p>
         <%= form_for :subscription do |subs| %>

            <%= subs.label "Name" %>
            <%= subs.text_field :name, id: "text1" %>
   
            <%= subs.label "Email" %>
            <%= subs.text_field :email, id: "text2" %>
       
            <%= subs.submit 'Subscribe', class: "btn btn-sm btn-default buttons-width" %>
        <% end %>   
    </div>
</div>
<script type="text/javascript">
/*global $*/
//$(".gravatar").mouseenter(function() {
//    console.log("ENTERED");
    //$(this).animate({'border': '10px solid white'}, "slow");
//});
//$(".gravatar").mouseleave(function() {
//    console.log("LEFT");
    //$(this).css("border", "none").fadeOut("slow");
//});
</script>

<!--</div>-->