<%= provide(:title, 'Articles') %>
<div class="container">
    <div class="row center">
        <h1>Articles</h1>
        <%= @articles.find_each do |x| %>
            <div class="col-md-3 col-sm-4 image">
                    <% if x.picture? %>
                        <%= link_to image_tag(x.picture.url , size: "280x200"),
                                 article_path(x.id) %>
                    <% else %>
                        <%= link_to image_tag("image.png" , size: "280x200"),
                        article_path(x.id) %>
                    <% end %>    
                     <!--<p id="article_p">  
                        <%= x.text %>
                    </p>-->
                    <div class="center">
                        <h4><%= link_to x.title, article_path(x.id), class: "article_title" %></h4>
                        <h4><%= "Author: #{x.author_name}" %></h4>
                        <a><%= x.liked %></a>
                    </div>
                    <% if logged_in? && current_user.admin? %>
                        <%= link_to "Delete", x, method: :delete, data: { confirm: "Are You Sure?" },
                            class: "btn btn-sm btn-danger" %>
                    <% end %>    
            </div>    
        <% end %>
    </div>
</div>