<div class="container">
    <div ="row">
        <div class="col">
            <%= @articles.find_each do |x| %>
                    <%= link_to image_tag(x.picture.url , size: "100x100"),
                                          article_path(x.id) if x.picture? %>
                </h4>                          
                    <a><%= link_to x.title, article_path(x.id), class: "article_title" %></a>
                </h4>
                <p><%= x.text %></p>
                <b><%= "Author: #{x.author_name}" %></b>
                <a><%= x.liked %></a>
                <hr>
                    
            <% end %>
        </div>
    </div>
</div>