
<div class="container" id="admin-panel">
    <div class="row">
        <div class="well col-xs col-sm-5 col-md nopadding">
            <%= form_for(@article, html: { multipart: true }) do |x| %>
                <h4><%= x.label "Article Title", style: "color: black" %></h4>
                <p><%= x.text_field :title, size: "20x5", style: "color: black" %></p>
                
                <h4><%= x.label "Author Name", style: "color:black" %></h4>
                <p><%= x.text_field :author_name, size: "20x5", style: "color: black" %></p>
                
                <h4><%= x.label "Article", style: "color:black" %></h4>
                <p><%= x.text_area :text, size: "57x20", style: "color: black" %></p>
                
                <span class="picture">
                     <%= x.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
                </span>
                
                <%= x.submit 'Upload Article', class: "btn btn-md btn-primary" %>
            <% end %>
        </div>
        <div class="well col-xs col-sm-5 col-md nopadding">
            <%= form_for :video do |x| %>
            
                <h4><%= x.label "Add video Link",         style: "color:black" %></h4>
                <p><%=  x.text_field :link, size: "20x5", style: "color:black" %></p>
                
                <%= x.submit 'Add Video', class: "btn btn-sm btn-primary" %>
            
            <% end %>
        </div>
        <div class="well col-xs col-sm-5 col-md nopadding">
            <%= form_for :quote do |x| %>
            
                <h4><%= x.label "Add New Daily Quote",    style: "color:black" %></h4>
                <h4><%= x.label "Author",                 style: "color:black" %></h4>
                <p><%=  x.text_field :author, size: "20x5", style: "color:black" %></p>
                
                <h4><%= x.label "Daily Quote Text",       style: "color:black" %></h4>
                <p><%=  x.text_area  :quote, size: "40x6", style: "color:black" %></p>
                
                <%= x.submit 'Add New Daily Quote',
                    :url=>{:controller=>"articles",:action=>"new_link"}, 
                    class: "btn btn-sm btn-primary" %>
            
            <% end %>
        </div>
    </div>    
</div>

<script type="text/javascript">
    $('#article_picture').bind('change', function() {
        size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file');
        }
    });
</script>