<% provide(:title, 'Article') %>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div id="article_p">
                <h3 class="article-title2"><%= @article.title %></h3>
                <h6 class="black">By: <%= @article.author_name %> /
                <%= (@article.created_at.to_s.split(" "))[0] %></h6>
                <hr>            
                <%= @article.text %>
                <div class="row">
                    <div class="col-sm-6">
                        <%= image_tag(@article.picture.url, size: "400x300", 
                        class: "thumbnail") if @article.picture? %>
                    </div>
                    <div class="col-sm-6 center footer-top-border">
                        <br>
                        <h4 class="black">Like</h4>
                        <%= link_to like_article_path(@article, like: true), method: :post do %>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
                            &nbsp <%= @article.thumbs_up_total %>
                        <% end %> &nbsp
                        <%= link_to like_article_path(@article, like: false), method: :post do %>
                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            &nbsp <%= @article.thumbs_down_total %>
                        <% end %>
                    </div>
                </div>
                <div>
                    <h5 class="black">Comments</h5>
                    <hr>
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <%= form_for :comment, url: {controller: "articles", action: "comment"} do | comment | %>
                        <%= comment.text_area :comment, size: "20x5" %>
                        <%= comment.hidden_field :article_id, :value => @article.id %>
                        <%= comment.hidden_field :user_id, :value => current_user.id unless current_user.nil? %>
                        <%= comment.submit "Comment", class: "btn btn-md btn-default" %>
                    <% end %>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <%= @article.comments_total %>
                    <br>
                    <% @comments.each do |x| %>
                        <div class="well">
                            <%= gravatar_for_comments User.find(x.user_id) if !x.user_id.nil? %>
                            <h6 class="black"><%= user_hash(x.user_id) %></h6>
                            <p class="black small-font"><%= x.comment %></p>
                        </div>
                        <hr>
                    <% end %>
                </div>
            </div>
            <% if logged_in? && current_user.admin? %>
                <%= link_to "Edit", edit_article_path, class: "btn btn-sm btn-primary" %>
            <% end %>
            <h5 class="black">Comments</h5>
        </div>
        <div class="col-sm-3 center">
            <h4>Latest Videos</h4>
            <% @videos.find_each do |x| %>
                <div>
                    <frame scrolling="auto">
                    <iframe width="300" height="200" id="video"
                            src=<%= "https://www.youtube.com/embed/#{x.link}" %> 
                            frameborder="0" allowfullscreen>
                    </iframe>
                    </frame>
                </div>
            <% end %>    
        </div>
    </div>
</div>
