<% provide(:title, 'Article') %>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
        <h4 class="article_title"><%= @article.title %></h4>
        <p id="article_p">
            <%= @article.text %>
            <%= image_tag(@article.picture.url, size: "400x300", class: "thumbnail") if @article.picture? %>
        </p>
        <% if logged_in? && current_user.admin? %>
            <%= link_to "Edit", edit_article_path, class: "btn btn-sm btn-primary" %>
        <% end %>
        </div>
        <div class="col-sm-3 center">
            <h4>Latest Videos</h4>
            <% @videos.find_each do |x| %>
                <div>
                    <frame scrolling="auto">
                    <iframe width="300" height="200" id="video"
                            src=<%= "https://www.youtube.com/embed/#{x.link}" %> frameborder="0" allowfullscreen>
                    </iframe>
                    </frame>
                </div>
            <% end %>    
        </div>
    </div>
</div>
