<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="container">
    <div class="row center">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            
            <h5><%= f.label :name, style: "color:white"  %></h5>
            <p><%= f.text_field :name, class: "edit-form" %></p>
            
            <h5><%= f.label :email, style: "color:white"  %></h5>
            <p><%= f.email_field :email, class: "edit-form" %></p>
            
            <h5><%= f.label :password, style: "color:white"  %></h5>
            <p><%= f.password_field :password, class: "edit-form" %></p>
            
            <h5><%= f.label :password_confirmation, "Confirmation", style: "color:white"  %></h5>
            <p><%= f.password_field :password_confirmation, class: "edit-form" %></p>
            
            <p><%= f.submit "Save changes", class: "btn btn-primary lg-buttons-width" %></p>
        <% end %>
    </div>
        <div id="gravatar_edit">
            <p><%= gravatar_for @user %></p>
        </div>
        <p><a href="http://gravatar.com/emails" target=_blank>change</a></p>
</div>