<div class="container">
    <div class="row center">
        <h4>You are <span id="days-from">100</span> days away from becoming a web developer</h4>
    </div>
    <ul>
        <li>
            <h4>HTML</h4>
            <%= link_to image_tag("html5.png", size: "200x200", class: "gravatar") %>
            <iframe width="250" height="200" id="video"
                src=<%= "https://www.youtube.com/embed/A5Xv0p0dm8E" %> frameborder="0" allowfullscreen>
            </iframe>
            <input type="checkbox" autocomplete="off">
            <div id="carousel">
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
            </div>
            <h4>HTML Exercises</h4>
            <h5>Skill Progress Bar</h5>
    	    <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4>CSS</h4>
            <%= link_to image_tag("css3.png", size: "200x200", class: "gravatar") %>
            <input type="checkbox" autocomplete="off">
            <div id="carousel">
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
            </div>
            <h5>Skill Progress Bar</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4>JavaScript</h4>
            <%= link_to image_tag("js.png", size: "200x200", class: "gravatar") %>
            <input type="checkbox" autocomplete="off">
            <div id="carousel">
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
            </div>
            <h5>Skill Progress Bar</h5>
    	    <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4>Ruby on Rails</h4>
            <%= link_to image_tag("rails.png", size: "200x200", class: "gravatar") %>
            <input type="checkbox" autocomplete="off">
            <div id="carousel">
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
                <div class="slide">
                    <img src="https://placehold.it/300x150"/>
                </div>
            </div>
            <h5>Skill Progress Bar</h5>
    	    <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4 class="underline">Other Referrences</h4>
            <h5>Free Quality Content</h5>
            <h5>Paid Quality Courses</h5>
        </li>
    </ul>
</div>