<% if logged_in? %>
<div class="container" id="userpanel-popup">
    <div class="row center">
        <h4>You are <span class="blink_me">100</span> days away from becoming a web developer</h4>
    </div>
    <!-- custom pop up on login -->
    <% if @generate %>
        <%= javascript_include_tag "popup" %>
    <% end %>    
    <div id="dialog" title="Alert message" style="display: none">
        <div class="ui-dialog-content ui-widget-content">
            <p>
                <i class="fa fa-graduation-cap" aria-hidden="true" style="color:black"></i>
                <label id="lblMessage">
                </label>
            </p>
        </div>
    </div>
    <!-- start of the skills section -->
    <ul>
        <li>
            <h4 class="underline">Recommended Professional Paid Courses</t></h4>
            <% @courses.each do |x| %>
                <% if x.course != "" %>
                    <ul>
                        <li><a href=<%= "#{x.course}" %>>TEST</a></li>
                        <%= "html_course" unless x.html_course == false %>
                        <%= x.css_course unless false %>
                        <%= x.js_course unless false %>
                        <%= x.ror_course unless false %>
                        <% x.attributes.each_pair do |z| %>
                            <% puts z %>
                            <% case z
                               when "html_course" %>
                                   <a><%= "HTML Course" %></a> 
                            <% when "css_course" %>
                                    <%= "CSS Course" %>
                            <% when "js_course" %>
                                    <%= "JavaScript Course" %>
                            <% when "ror_course" %>
                                    <%= "Ruby On Rails Course" %>
                            <% when "other_course" %>
                                    <%= "Other Course" %>
                            <% end %>
                        <% end %>    
                    </ul>    
                <% end %>        
            <% end %>
            <li>
                <h4 class="underline">Free Content</t></h4>
                <h5>Before You Start - Ruby Basics (You Can Choose To Complete Just One)</h5>
                <ul>
                    <li><a href="http://tryruby.org/levels/1/challenges/0">TryRuby</a></li>
                    <li><a href="https://www.codecademy.com/learn/ruby">Codecademy Ruby Course</a></li>
                    <li><a href="https://www.udemy.com/course-dashboard-redirect/?course_id=746146">
                        Udemy Ruby Course</a></li>
                    <li><a href="https://teamtreehouse.com/library/ruby-basics">
                        TeamTreeHouse Ruby Course</a></li>
                </ul>
                <h5>Other Useful Websites</h5>
                <ul>
                    <li><a href="http://www.blackbytes.info/">BlackBytes Blog</a></li>
                    <li><a href="http://railscasts.com/">RailsCasts Screencasts</a></li>
                </ul>
            </li>
        </li>
        <li>
            <h4>HTML</h4>
            <%= link_to image_tag("html5.png", size: "200x200", class: "gravatar") %>
            <iframe width="250" height="200" id="video"
                src=<%= "https://www.youtube.com/embed/A5Xv0p0dm8E" %> frameborder="0" allowfullscreen>
            </iframe>
            <input type="checkbox" autocomplete="off">
            <div class="carousel">
                <div class="slide">
                    <%= @userpanel.find_each do |pnl| %>
                        <% if pnl.html_video == true %>
                            <iframe src=<%= "https://www.youtube.com/embed/#{pnl.user_video}" %>
                                        frameborder="0" allowfullscreen>
                            </iframe>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <h4>HTML Exercises</h4>
            <h5>Skill Progress Bar</h5>
    	    <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4>CSS</h4>
            <%= link_to image_tag("css3.png", size: "200x200", class: "gravatar") %>
            <input type="checkbox" autocomplete="off">
            <div class="carousel">
                <div class="slide">
                    <%= @userpanel.find_each do |pnl| %>
                        <% if pnl.css_video == true %>
                            <iframe src=<%= "https://www.youtube.com/embed/#{pnl.user_video}" %>
                                        frameborder="0" allowfullscreen>
                            </iframe>
                        <% end %>
                    <% end %> 
                </div>
            </div>
            <h5>Skill Progress Bar</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4>JavaScript</h4>
            <%= link_to image_tag("js.png", size: "200x200", class: "gravatar") %>
            <input type="checkbox" autocomplete="off">
            <div class="carousel">
                <div class="slide">
                    <%= @userpanel.find_each do |pnl| %>
                        <% if pnl.js_video == true %>
                            <iframe src=<%= "https://www.youtube.com/embed/#{pnl.user_video}" %>
                                        frameborder="0" allowfullscreen>
                            </iframe>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <h5>Skill Progress Bar</h5>
    	    <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4>Ruby on Rails</h4>
            <%= link_to image_tag("rails.png", size: "200x200", class: "gravatar") %>
            <input type="checkbox" autocomplete="off">
            <div class="carousel">
                <div class="slide">
                    <%= @userpanel.find_each do |pnl| %>
                        <% if pnl.ror_video == true %>
                            <iframe src=<%= "https://www.youtube.com/embed/#{pnl.user_video}" %>
                                        frameborder="0" allowfullscreen>
                            </iframe>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <h5>Skill Progress Bar</h5>
    	    <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  <span class="sr-only">70% Complete</span>
                </div>
            </div>
            <div style="border-top: 15px dotted #f99f1a; margin-top: 30px;"></div>
        </li>
        <li>
            <h4 class="underline">Youtuber Channels That You Should Check Out</h4>
            <div class="col-sm-6 col-xs-12">
                <h5>CodingPhase</h5>
                <%= image_tag('codingphase.jpg') %>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h5>Chris Sean</h5>
                <%= image_tag('chrissean.jpeg') %>
            </div>
                <div class="col-sm-6 col-xs-12">
                <h5>John Morris</h5>
            <%= image_tag('johnmorris.jpeg') %>
            </div>
                <div class="col-sm-6 col-xs-12">
                <h5>Chris Hawkes</h5>
            <%= image_tag('chrishawkes.jpg') %>
            </div>
            
        </li>
    </ul>
</div>
<% end %>