<% provide(:title, 'Video') %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="video2">
                <iframe src=<%= "https://www.youtube.com/embed/#{@video.link}" %>
                                    frameborder="0" allowfullscreen class="show-video">
                </iframe>
                <div class="row">
                    <span class="white">Like</span>&nbsp
                    <%= link_to like_video_path(@video, like: true), method: :post do %>
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
                        &nbsp <%= @video.thumbs_up_total %>
                    <% end %> &nbsp
                    <%= link_to like_video_path(@video, like: false), method: :post do %>
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        &nbsp <%= @video.thumbs_down_total %>
                    <% end %>
                </div>
            </div>
            <h3 class="article-title2"><%= @video.title unless @video.nil? %></h3>
        </div>
        <!--<% if logged_in? && current_user.admin? %>
            <%= link_to "Edit", edit_video_path, class: "btn btn-sm btn-primary" %>
            <% end %>-->
        <div class="row">
            <div id="video-comments">
                <h5>Comments</h5>
                <hr>
                <i class="fa fa-comments white" aria-hidden="true"></i>
                <%= form_for :comment, url: {controller: "videos", action: "comment"} do | comment | %>
                    <%= comment.text_area :comment, size: "20x5" %>
                    <%= comment.hidden_field :video_id, :value => @video.id %>
                    <%= comment.hidden_field :user_id, :value => current_user.id unless current_user.nil? %>
                    <%= comment.submit "Comment", class: "btn btn-md btn-default" %>
                <% end %>
                <i class="fa fa-comment-o white" aria-hidden="true"></i>
                <span class="white"><%= @video.comments_total %></span>
                <br>
                <% @comments.each do |x| %>
                    <div class="well">
                        <%= gravatar_for_comments User.find(x.user_id) if !x.user_id.nil? %>
                            <h6 class="black"><%= user_hash(x.user_id) %></h6>
                            <p class="black small-font"><%= x.comment %></p>
                    </div>
                    <hr class="white">
                <% end %>
            </div>
        </div>
    </div>
</div>